@media screen and (max-width: 600px) {
    nav {
        width: 75px;
    }
    nav h2 {
        font-size: 14px;
    }
    nav #logo {
        height: 50px;
    }
    nav .nav-element {
        padding: 15px;
    }
    nav .nav-element p{
        display: none;
    }
    nav .nav-element .icon {
        height: 30px;
        display: flex;
        margin: auto;
    }
}